.auth-box{
	background: rgb(255, 255, 255); 
  border: 0 none;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  padding: 30px 30px;
  box-sizing: border-box;
  width: 50%;
  height: auto;
  margin:0 auto; 
 
}
.background{
	width:100%;
	height: 100%;
	/* background-image: url('~src/assets/images/back3.jpg'); */
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	padding-top:10em;
	padding-bottom: 10em;}