 
    <h1>Find the best airlines for your destination</h1>

<div class="alert alert-danger" *ngIf="errorMessage">
       {{ errorMessage }}.
  </div>
  <form class="register-register-form"
    novalidate=""
    [formGroup]="myForm"
    >
          <div class="form-group">
              <label>Email address</label>
              <input class="form-control" 
                        formControlName="email" 
                        [class.is-invalid]="email.invalid && email.touched" 
                        name="email" required>
              <small class="text-danger" *ngIf="email.errors?.required && email.touched">Email address is required</small>
              <small class="text-danger" *ngIf="email.errors?.email">Invalid email address</small>

          </div>
          <div class="form-row">
            <div class="col">
                <label>Source</label>
                <select formControlName="source" (change)="changeSource($event)" 
                [class.is-invalid]="sourceHasError && source.touched"
                class="custom-select" name="source" 
                >
                    <option value="default" >choose a source</option>
                    <option *ngFor="let source of countries" >{{source.name}}</option>
                </select>
                <small class="text-danger" *ngIf=" sourceHasError && source.touched">please choose a source</small>
            </div>
            <div class="col">
              <label>Airport</label>
              <select formControlName="airport" (change)="changeAirport($event)" 
              [class.is-invalid]="airportHasError && airport.touched"
              class="custom-select" name="airport" 
              >
                  <option value="default" >choose an airport</option>
                  <option *ngFor="let airport of airports" >{{airport._fields[0]}}</option>
              </select>
              <small class="text-danger" *ngIf=" airportHasError && airport.touched">please choose an airport</small>
          </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Destination</label>
                <select formControlName="destination" (change)="changeDestination($event)" 
                    [class.is-invalid]="destinationHasError && destination.touched"
                    class="custom-select" name="destination" 
                    >
                    <option value="default" >choose a destination</option>
                    <option *ngFor="let source of countries" >{{source.name}}</option>
                </select>
                <small class="text-danger" *ngIf=" destinationHasError && destination.touched"> please choose a destination </small>
            </div>
            <div class="col">
              <label>Airport</label>
              <select formControlName="airportD" (change)="changeAirportD($event)" 
              [class.is-invalid]="airportDHasError && airportD.touched"
              class="custom-select" name="airportD" 
              >
                  <option value="default" >choose an airport</option>
                  <option *ngFor="let airport of airportsD" >{{airport._fields[0]}}</option>
              </select>
              <small class="text-danger" *ngIf=" airportDHasError && airportD.touched">please choose an airport</small>
          </div>
        </div>

<br/>
    </form>

    <button class="btn btn-submit" (click)="submit()" [disabled]="myForm.invalid && destinationHasError && airportHasError && sourceHasError" color="primary">Recommand</button>
<br/>
<div *ngIf="result" class="result">
    <div *ngFor="let record of result ;let indexOfelement=index;" class="row"> 
    <h2 class="col-6">{{record._fields[0]}}</h2> <ngb-rating [max]="5" [(rate)]="rates[indexOfelement]" [readonly]="false" (rateChange)="onRateChange(record._fields[0],$event)"></ngb-rating>
    </div>
</div>
