h1 {
  text-align: center;
  padding-bottom:10px ;
}
h2 {
  text-align: center;
}
.align-left{
  text-align: left;
}
.btn-submit{
	background: rgb(28, 164, 182);
    color:white;
}
.result{
  margin-top: 20px;
}

ngb-rating {
  font-size: 30px;
  color:rgb(241, 178, 4);
}