/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    font-family: "Poppins", sans-serif;

}
body { 
    margin: 0;
    padding:0;
     /* font-family: Roboto, "Helvetica Neue", sans-serif; */
     font-family: "Poppins", sans-serif;
    }
